<html lang="en" xmlns:th="http://www.thymeleaf.org">

<nav class="navbar navbar-expand-lg fixed-bottom navbar-light bg-light" th:fragment="navbarbottom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-auto order-0">
            <li class="nav-item">
                <a class="nav-link" th:href="@{~/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{~/order}">Paket versenden</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{~/tracking}">Paket verfolgen</a>
            </li>
        </ul>
    </div>
</nav>