<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Paketstatus</title>
</head>
<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Hallo <span th:text="${order.recipient.personalData.firstName}"></span> <span th:text="${order.recipient.personalData.lastName}"></span></h1>
        <p class="lead">Paketnummer: <span th:text="${order.orderNumber}"></span></p>
    </div>
</div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>PLZ: <span><tr th:text="${order.recipient.personalData.address.postalCode}"></span></p>
                <footer class="blockquote-footer">Status: <cite title="Source Title"><span th:text="${order.deliveryStatus.statusName}"></span></cite></footer>
                <footer class="blockquote-footer">Beschreibung: <cite title="Source Title"><span th:text="${order.deliveryStatus.description}"></span></cite></footer>
            </blockquote>
        </div>
    </div>
    <nav th:replace="navbottom/navbarbottom.html :: navbarbottom"> </nav>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>